/Analysis/output/individual

/Analysis/error_data
/Analysis/report_cache
/Analysis/report_files
/Analysis_report_data
/latex-thesis-template
/Literature/unclass
/Literature/extraction
*.bak
/Writeup/Proposal
/Model
/orga

*.xlsx
*.html
*.jnlp
*.pdf
*.doc
*.docx
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.out.ps


# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf


/Analysis/RAW

Analysis/report.html
