/latex-thesis-template
/Literature/unclass
/Literature/extraction
*.bak
/Writeup/Proposal
/Model
*.jnlp
*.pdf
*.doc
*.docx
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.out.ps